/node_modules
/dist
/secrets
*.serviceAccount.json
*.adminsdk.json
/*.json# Node
node_modules/
.env.local
.env
.DS_Store
/dist

### Removed external-service entries

# Vite
.vite/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
